<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/83a2ef4280.js" crossorigin="anonymous"></script>
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
    </ul>
    <div class="bg-img">
        <div class="caption">
            <div>
                <span class="border">
                    oof
                </span>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="oferta">
        <span>OFERTA</span>
    </div>
    <div class="wspolpraca">
        <span>Współpracując z nami masz gwarancję, że:</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="icon col-sm-12 col-md-6 col-lg-4">
                <i class="fas fa-briefcase"></i>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempore ipsum pariatur, hic error
                    atque
                    ipsam assumenda distinctio, repellendus aut sed laudantium voluptate aliquid repudiandae architecto,
                    dolores ea at odit!</p>
            </div>
            <div class="icon col-sm-12 col-md-6 col-lg-4">
                <i class="fas fa-cloud"></i>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempore ipsum pariatur, hic error
                    atque
                    ipsam assumenda distinctio, repellendus aut sed laudantium voluptate aliquid repudiandae architecto,
                    dolores ea at odit!</p>
            </div>
            <div class="icon col-sm-12 col-md-6 col-lg-4">
                <i class="far fa-comment-dots"></i>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempore ipsum pariatur, hic error
                    atque
                    ipsam assumenda distinctio, repellendus aut sed laudantium voluptate aliquid repudiandae architecto,
                    dolores ea at odit!</p>
         

            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>